{% extends "main.html" %}
{% block tabs %}
{{ super() }}
<section class="home-container">
<div class="md-grid md-typeset">
  <div class="home-hero">
    <div class="home-hero-content"> 
      <!--img style="float:right;width:150px" src="https://medsci-sites.inria.fr/cai/wp-content/uploads/sites/3/2020/04/Under-construction.png"/-->
      <h1>Portail des formations NSI</h1>
      <p>Bienvenue dans cet espace de formation, dédié à l'apprentissage de l'informatique : </p> 
           <a target="_blank" href="https://youtu.be/QTjXRIwF4Vc"><img style="margin:5px auto;width:70%" src="https://medsci-sites.inria.fr/cai/wp-content/uploads/sites/3/2021/04/mooc-snt_nsi_capes.png"/></a>
      <br/>Ce <a target="_blank" style="text-decoration: underline;color:white" href="https://youtu.be/QTjXRIwF4Vc">teaser</a> vous présente la formation en 160 secondes.
     <br/>Ce <a target="_blank" style="text-decoration: underline;color:white" href="https://mooc-nsi-snt.gitlab.io/portail/flyer-nsi.pdf">flyer</a> vous présente la formation en un clin d'œil.
      <p>Notre plateforme est ouverte et évolue de manière collaborative : nous y sommes tous et toutes bienvenues.</p>
    </div>
  </div>
</div>
</section>
{% endblock %}
{% block content %}
{% endblock %}
